{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>
        <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
        <link rel="icon"
              type="image/png"
              href = "{% static 'home/images/glogo.png' %}"
    </head>

<body>

    <nav>
        <div class="topnav">
            <a href="{% url 'index' %}"><img src = "{% static 'home/images/glogo.png' %}" width = 15 height = auto></a>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'gallery' %}">Gallery</a>
        </div>
    </nav>

<main class="mainabout">

    <h1 style="text-align: center;">About Me</h1>
    
    <p>
    
    Hello, my name is Grant Rencher, I'm currently a student at Brigham Young University studying Computer Science with an emphasis in Software Engineering. I have always been interested in working with computers, and in my spare time I enjoy learning new things and cementing my already developed skills. I look forward to what the future brings, and hope to take an internship in the future,(or something)
    
    </p>
    
    <h3>Skills</h3>
    
    <ul class="ulabout">
    
        <li>Python</li>
        <li>Java</li>
        <li>C++</li>
        <li>Javascript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>SQL</li>
        <li>Django framework</li>
        <li>Mendix</li>
        <li>Linux Systems</li>
        <li>PC Assembly</li>
        <li>Agile/Scrum Methodology</li>
        <li>Git/Version Control</li>
    
    </ul>
    
    <h3>Work Experience</h3>
    
    <ul class="ulabout">
    
        <li>Little Caesars Pizza</li>
        <li>Subway Sandwiches</li>
        <li>BYU Student Software Developer</li>
    
    </ul>
    
    <h3>Education</h3>
    
    <ul class="ulabout">
    
        <li>American Fork High School (2017-2020)</li>
        <li>Brigham Young University (2020-2026)</li>
    
    </ul>
    
    <h3>Other</h3>
    
    <ul class="ulabout">
    
        <li>Eagle Scout</li>
        <li>Trumpet Performance</li>
        <li>Triathlete</li>
        <li>Missionary for the Church of Jesus Christ of Latter-day Saints</li>
    
    </ul>

</main>


<footer>

    <p class = "footerp">Website Name</p>
    
</footer>

</body>

</html>
