{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Gallery</title>
        <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
        <link rel="icon"
              type="image/png"
              href = "{% static 'home/images/glogo.png' %}"
    </head>

<body>

    <nav>
        <div class="topnav">
            <a href="{% url 'index' %}"><img src = "{% static 'home/images/glogo.png' %}" width = 15 height = auto></a>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'gallery' %}">Gallery</a>
        </div>
    </nav>

<main class="gallerybody">

    <h1 style = "text-align: center;">Some photos taken over the years<h1>
    
    <div class="responsivegallery">
        <div class="gallerygallery">
            <a>
              <img src="{% static 'home/images/jacksonwy.jpeg' %}" alt="Github Octocat" width="600" height="400">
            </a>
            <div class="desc">Taggart Lake in Jackson Wyoming</div>
        </div>
    </div>
    
    <div class="responsivegallery">
        <div class="gallerygallery">
            <a>
              <img src="{% static 'home/images/jacksonwy2.jpeg' %}" alt="Github Octocat" width="600" height="400">
            </a>
            <div class="desc">Trail to Taggart Lake</div>
        </div>
    </div>
    
    <div class="responsivegallery">
        <div class="gallerygallery">
            <a>
              <img src="{% static 'home/images/palisade.JPG' %}" alt="Github Octocat" width="600" height="400">
            </a>
            <div class="desc">Palisade Reservior</div>
        </div>
    </div>
    
    <div class="responsivegallery">
        <div class="gallerygallery">
            <a>
              <img src="{% static 'home/images/outside.JPG' %}" alt="Github Octocat" width="600" height="400">
            </a>
            <div class="desc">Arches National Park</div>
        </div>
    </div>
    
    <div class="responsivegallery">
        <div class="gallerygallery">
            <a>
              <img src="{% static 'home/images/fin.JPG' %}" alt="Github Octocat" width="600" height="400">
            </a>
            <div class="desc">More of Arches</div>
        </div>
    </div>
    
    <div class="responsivegallery">
        <div class="gallerygallery">
            <a>
              <img src="{% static 'home/images/delicate.JPG' %}" alt="Github Octocat" width="600" height="400">
            </a>
            <div class="desc">Delicate Arch</div>
        </div>
    </div>
    
    <div class="responsivegallery">
        <div class="gallerygallery">
            <a>
              <img src="{% static 'home/images/long.JPG' %}" alt="Github Octocat" width="600" height="400">
            </a>
            <div class="desc">Long Arch</div>
        </div>
    </div>
    
    <div class="responsivegallery">
        <div class="gallerygallery">
            <a>
              <img src="{% static 'home/images/ny.JPG' %}" alt="Github Octocat" width="600" height="400">
            </a>
            <div class="desc">New York City Skyline from Liberty Island</div>
        </div>
    </div>
    <div class="responsivegallery">
        <div class="gallerygallery">
            <a>
              <img src="{% static 'home/images/upstate.JPG' %}" alt="Github Octocat" width="600" height="400">
            </a>
            <div class="desc">View of Upstate New York</div>
        </div>
    </div>
    
    <div class="responsivegallery">
        <div class="gallerygallery">
            <a>
              <img src="{% static 'home/images/watkins.JPG' %}" alt="Github Octocat" width="600" height="400">
            </a>
            <div class="desc">Watkins Glen New York</div>
        </div>
    </div>
    
    <div class="responsivegallery">
        <div class="gallerygallery">
            <a>
              <img src="{% static 'home/images/shoshone.JPG' %}" alt="Github Octocat" width="600" height="400">
            </a>
            <div class="desc">Shoshone Falls, Twin Falls Idaho</div>
        </div>
    </div>

</main>


<footer>

    <p class = "footerp">Website Name</p>
    
</footer>

</body>

</html>
