{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <link rel="icon"
          type="image/png"
          href = "{% static 'home/images/glogo.png' %}"
</head>

<body>

<nav>
    <div class="topnav">
        <a href="{% url 'index' %}"><img src = "{% static 'home/images/glogo.png' %}" width = 15 height = auto></a>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'gallery' %}">Gallery</a>
    </div>
</nav>

<header>
    <div class="header">
        <h1>Website</h1>
        <br>
        <p>Welcome to the homepage</p>
    </div>
</header>



<main>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://github.com/rencherg">
          <img src="{% static 'home/images/github.png' %}" alt="Github Octocat" width="600" height="400">
        </a>
        <div class="desc">My Github Page</div>
      </div>
    </div>


    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
          <img src="img_forest.jpg" alt="Forest" width="600" height="400">
        </a>
        <div class="desc">My Youtube Channel</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="img_lights.jpg">
          <img src="img_lights.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
          <img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="clearfix"></div>
    
    
</main>


<footer>

    <p class = "footerp">Website Name</p>
    <p style="text-align: right; margin-right: 20px; font-size: 12px;">Header image taken by Grant Rencher     </p>
    
</footer>

</body>

</html>
