{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <link rel="icon"
          type="image/png"
          href = "{% static 'home/images/glogo.png' %}"
</head>

<body>

<nav>
    <div class="topnav">
        <a href="{% url 'index' %}"><img src = "{% static 'home/images/glogo.png' %}" width = 15 height = auto></a>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'gallery' %}">Gallery</a>
    </div>
</nav>

<header>
    <div class="header">
        <h1>Website</h1>
        <br>
        <p>Welcome to the homepage</p>
    </div>
</header>



<main>
    
    <div class="outerlink">
        
        
        <div class="innerbackground">
            
            
            <div class="responsiveempty">
                <div class="galleryempty">
                    <a>
                    </a>
                    <div class="desc"></div>
                </div>
            </div>
            
        
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="https://github.com/rencherg">
                  <img src="{% static 'home/images/github.png' %}" alt="Github Octocat" width="600" height="400">
                </a>
                <div class="desc">My Github Page</div>
            </div>
        </div>
        
        
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="https://www.linkedin.com/in/grant-rencher-067001184/">
              <img src="{% static 'home/images/linkedin.png' %}" alt="Linkedin" width="600" height="400">
            </a>
            <div class="desc">My Linkedin</div>
          </div>
        </div>
        
        </div>
        
        <br>
        <br>
        
    </div>
    
    
</main>


<footer>

    <p class = "footerp">Website Name</p>
    <p style="text-align: right; margin-right: 20px; font-size: 12px;">Header image taken by Grant Rencher     </p>
    
</footer>

</body>

</html>
