{% load static %}

<head>

    <link rel="stylesheet" type="text/css" href="{% static 'forum/index.css' %}">

</head>

<h1>Welcome to the forum</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if comment_list %}
    <ul>
    {% for comment in comment_list %}
        <li><a href = {% url 'comment' comment.id %} class="linklist">{{ comment.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Looks like there isn't anything here</p>
{% endif %}

<a href = {% url 'new' %}>New Comment</a>
