/*<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">*/

/*  |:  */


body{
    margin: 0;
    font-family: Arial;
    
}

/*navigation bar */

nav{
    width: 100%;
}

.topnav {
    overflow: hidden;
    background-color: #0d4675;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

/*nav links */
.topnav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%;
}

.topnav a:hover{
    
    background-color: #002487;
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%;
    
}

/* Header/Blog Title*/
.header {
    
    padding: 30px;
    
    background: url("/static/home/images/snakerivercropped.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    
    text-align: center;
}

.header h1 {
    font-size: 50px;
    color: #4d4d4d;
}

.header p{
    
    font-size: 35px;
    color: #737373;
    
}

/*Footer*/

footer{
    
    overflow: hidden;
    background-color: #0d4675;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100px:
    text-align: center;
    font-size: 25px;
    
}

.footerp{
    
    text-align: center;
    
}


/*links*/
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 25%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 50%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.outerlink{
    
    float: center;
    
}
