/*<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">*/

/*  |:  */


body {
    margin: 0;
    font-family: Arial;
    
}

.mainabout{
    
    font-family: Arial;
    margin: 15px;
    margin-right: 0px;
    
}

/*navigation bar */

nav{
    width: 100%;
}

.topnav {
    overflow: hidden;
    background-color: #0d4675;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

/*nav links */
.topnav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%;
}

.topnav a:hover{
    
    background-color: #002487;
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%;
    
}

/* Header/Blog Title*/
.header {
    
    padding: 30px;
    
    background: url("/static/home/images/snakerivercropped.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    
    text-align: center;
}

.header h1 {
    font-size: 50px;
    color: #4d4d4d;
}

.header p{
    
    font-size: 35px;
    color: #737373;
    
}

/*Footer*/

footer{
    
    overflow: hidden;
    background-color: #0d4675;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100px:
    
}

.footerp{
    
    text-align: center;
    text-align: center;
    font-size: 25px;
    
}

/*links*/

div.gallerygallery img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

div.gallery img {
  width: 100%;
  height: 270px;
  margin-top: 10px;
}


div.galleryempty img{
    
    width: 100%;
    height: auto;
    border: 0px;
    
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsiveempty{
    
    padding: 0 6px;
    width: 22.5%;
    float: left;
    
}

.responsive {
  padding: 0 6px;
  width: 25%;
  margin: 10px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  

}

.responsivegallery {
  padding: 0 6px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 50%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.outerlink{
    
    width: 100%;
    margin: 0px;
    background-color: white;
    
}

.innerbackground{
    
    margin: 50px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.gallerybody{
    
    background-color: whitesmoke;
    margin: 0px;
    
}


.ulabout {
  border-left: 5px solid blue;
  background-color: #f1f1f1;
  list-style-type: none;
  padding: 10px 20px;
  margin-right: 0px;
}
