ul {
  background-color: #f1f1f1;
  list-style-type: none;
  padding: 10px 20px;
}

li a{
    margin: 0px;
    text-decoration: none;
    text: gray;
}

.linklist{
    
    text: gray;
    
}

li a: hover{
    
    
    text: green;
    
}
